.page {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #f4f9f6,
    #eef3f0
  );
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.back {
  border: none;
  background: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

.title {
  flex: 1;
  text-align: center;
  font-weight: 800;
}

.container {
  max-width: 430px;
  margin: auto;
}

.successCard {
  background: white;
  border-radius: 20px;
  padding: 18px;
  text-align: center;
  margin-bottom: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.check {
  font-size: 45px;
}

.successCard h3 {
  margin: 8px 0;
  color: #166534;
}

.successCard p {
  color: #666;
  font-size: 14px;
}

.previewCard {
  background: white;
  border-radius: 20px;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.image {
  width: 100%;
  border-radius: 16px;
}

.resultBox {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.cropName {
  color: #666;
  text-transform: uppercase;
  font-size: 13px;
}

.disease {
  font-size: 26px;
  font-weight: 800;
  color: #b91c1c;
  margin-top: 5px;
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
}

.highRisk {
  background: #dcfce7;
  color: #166534;
}

.mediumRisk {
  background: #fef3c7;
  color: #92400e;
}

.lowRisk {
  background: #fee2e2;
  color: #991b1b;
}

.circleWrap {
  text-align: center;
  margin: 20px 0;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #16a34a,
    #22c55e
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 28px;
  font-weight: 800;
  box-shadow: 0 10px 25px rgba(34,197,94,.4);
}

.section {
  background: #f8fafc;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 14px;
}

.subTitle {
  font-weight: 800;
  margin-bottom: 8px;
}

.advice {
  line-height: 1.6;
  color: #334155;
}

.primary {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 14px;
  background: linear-gradient(
    90deg,
    #16a34a,
    #22c55e
  );
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.secondary {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 14px;
  background: #e5e7eb;
  font-weight: 700;
  cursor: pointer;
}

.loader {
  text-align: center;
  margin-top: 40vh;
  font-size: 22px;
  font-weight: 700;
  color: #166534;
}